body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #d3e4f1; /*#e6f5ff;*/
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ccc;
}

.navbar-inverse .navbar-brand
{
  font-family:'Exo 2';
  font-size: 1.75em;
}

.link {
  stroke: #e9c96a; /*#dcbc3c;*/
  stroke-width: 1.33px;
  /*opacity: 0.75;*/
}

circle {
  fill: #e98e6a; /*#b6963b;*/
}

.node-text {
  /*color: #215277; /*#52a1d9;*/
  fill: #5182a8;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size:1em;
  pointer-events: none;
  text-shadow: 1px 1px 0px #fff7dd;
  /*pointer-events: none;*/
}


#city-title {
  /*font-family:"Changa One";*/
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  /*font-weight: bold;*/
  /*padding-left: 16px;*/
  color: #295075;
  float: left;
  
  height: 0;
  overflow: visible;
  margin: 0;
  padding-top: 5px;
}

#city-graph {
  width: 100%;
}
#city-svg {
  width: 100%;
}

#description {
  margin-top: 57px;
  margin-bottom: 67px;
}

.textpanel {
  background-color: #fff7dd;
  padding: 11px 19px 1px 19px;
  margin: 5px 10px 25px;
  border: solid 1px #6493b8; /*#52a1d9;*/
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0 0 0 4px #b0d5f1;
  -webkit-box-shadow: 0 0 0 4px #b0d5f1;
  box-shadow: 0 0 0 4px #b0d5f1;
}

.buffer {
  margin-bottom: 57px;
}
/*
.textpanelOld {
  background-color: #fffaec;
  //margin-left: 26px;
  padding: 19px;

  border: solid 1px #7ac8ff; //#52a1d9;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  -moz-box-shadow: 3px 3px 7px #000000;
  -webkit-box-shadow: 3px 3px 7px #000000;
  box-shadow: 3px 3px 13px #295075;
}
#svg-container {
  //padding: 0;
}

#graph-svg {
  width: 100%;
}
*/
.dropdown-header {
  padding-left: 7px;
}
ul li.cityterm {
  cursor: pointer;
  padding-left: 13px;
}
ul li.cityterm:hover {
  background-color: #e6f5ff;
}
/*
#svg-about {
  margin-bottom: 67px;
  overflow-y: hidden;
}
*/
.devname {
  font-weight: bold;
  text-shadow: 1px 1px 1px #eee;
}

.analysis {
  color: #fff7dd;
  font-size: 85%;
  background-color: #6493b8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
}

.note {
  color: #999;
  font-size: 75%;
}

.legal {
  color: #666;
  font-size: 85%;
}
.legal-title {
  font-size: 95%;
  font-weight: bold;
  margin-top: 25px;
}
.legal a {
  color: #444;
}
.legal-block {
  margin-bottom: 67px;
}

/*
.cblogo {
  padding-right: 7px;
  display: inline-block;
  vertical-align: baseline;
}
*/
.title-page {
  width: 100%;
  /*height: 100%;*/
  margin-bottom: 50px;
}
.hometitle {
  font-size: 200%;
  font-weight: 900;
}
.homecb {
  font-family: 'Exo 2';
  font-size: 400%;
  fill: #d3e4f1;
}
.homelink {
  stroke: #000;
  stroke-width: 1.5px;
}
.homenode {
  fill: #666;
  stroke: #000;
  stroke-width: 1.5px;
}