<div class="row">
  <div class="col-xs-12">
    <h1 data-ng-bind-html="title" id="city-title"></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-lg-4">
    <div id="description" class="textpanel">
      <!--
        TODO: Consider writing a Showdown extension to allow span classes
          to be created. Then for example we'd just have to prepend something
          like '{$analysis$Analysis} ' to the text. Or even better,
          '{$analysis${$glyphicon glyphicon-pencil$} Analysis} '.
      -->
      <p ng-bind-html="'<span class=\'analysis\'>Analysis</span> ' + descLead | markdown"></p>
      <p ng-repeat="descline in descRest" ng-bind-html="descline | markdown"></p>
    </div>
  </div>
  <div class="col-md-7 col-lg-8">
    <div data-council-graph></div>
  </div>
</div>
